.container {
  display: grid;
  grid-template-columns: 80vw 5vw;
  place-items: center;
  margin: 0 10vw;
}

.about_section {
  box-shadow: -5px 5px 5px black;
  margin: 2rem 0;
  padding: 2rem;
  color: var(--text-color);
  font-size: 2rem;
}

.about_section span {
  width: fit-content;
  font-style: italic;
  font-weight: bold;
}

.title_container {
  transform: rotate(90deg);
  border-bottom: 1px solid;
  letter-spacing: 1rem;
  width: 10rem;
}

.title {
  position: relative;
  bottom: -1.3rem;
  background-color: white;
}

.link_container {
  display: flex;
  justify-content: space-around;
}

.link_container a {
  color: var(--text-color);
}

@media only screen and (max-width: 1000px) {
  .title_container {
    display: none;
  }

  .container {
    display: flex;
    margin: 0;
  }
}