.container {
  --fg: #fafafa;
  --bg: #383a42;
  --red: #e45649;
  --green: #50a14f;
  --blue: #0184bc;
  --purple: #a626a4;
  --comment: #a0a1a7;
  display: flex;
  flex-direction: column-reverse;
  height: 100vh;
  background-color: var(--bg);
  color: var(--fg);
}

.footer {
  display: flex;
}