.hover {
  background: 
      linear-gradient(currentColor 0 0) 
      bottom /var(--d, 20%) 1px 
      no-repeat;
  transition:0.5s;
}
.hover:hover {
  --d: 80%;
}

.hoverCorner {
  background:
    linear-gradient(currentColor 0 0) 0 100%,
    linear-gradient(currentColor 0 0) 0 100%,
    linear-gradient(currentColor 0 0) 100% 0,
    linear-gradient(currentColor 0 0) 100% 0;
  background-size: 10px 1px, 1px 10px;
  background-repeat: no-repeat;
  transition: 0.5s;
}
.hoverCorner:hover {
  background-position: 100% 100%, 0 0, 0 0, 100% 100%;
}