.--main {
  grid-area: 1/1/3/3;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  box-shadow: -5px 5px 5px black;
  padding: 2rem;
  color: var(--text-color);
  background-color: var(--bg-color);
  font-size: 2rem;
}

.img {
  max-width: 100%;
  width: 100%;
  height: auto;
  border: 1px dashed var(--border-color);
  border-radius: var(--border-radius);
}

.info_container, .tech_container {
  position: relative;
  padding: 1rem;
  margin-top: 2rem;
  border: 1px dashed var(--border-color);
  border-radius: var(--border-radius);
  background-image: none;
  background-color: var(--bg-color);
}

.title, .title--main {
  position: relative;
  bottom: 2.6rem;
  width: fit-content;
  background-color: var(--bg-color);
}
.description {
  margin-top: -2.7rem;
}

.tech_title, .tech_title--main {
  position: absolute;
  bottom: 10.5rem;
  left: 2rem;
  background-color: var(--bg-color);
  width: fit-content;
}

.tech_title--main {
  bottom: 17.8rem
}

.tech_container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  
}
.tech_title {
  height: fit-content;
}

.tech__frontend p, .tech__backend p, .tech__tools p {
  text-align: center;
  border-bottom: 1px solid var(--border-color);
}

.link_container {
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
}

.link_container a {
  color: var(--text-color);
}

@media only screen and (max-width: 1000px) {
  .tech_title, .tech_title--main {
    display: none;
  }
}