.container {
  display: flex;
  gap: 1rem;
}

.path {
  color: var(--yellow);
}

.input {
  background-color: var(--bg);
  color: var(--fg);
  border: none;
  outline: none;
  font-family: 'Source Code Pro', monospace;
  font-size: 2rem;
  width: 80vw;
}