.ascii__name { 
  font-size: 1.5rem;
  line-height: 1.6rem;
  color: var(--red);
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.ascii__title {
  overflow: hidden;
  font-size: 1rem;
  width: 100%;
  text-align:center;
}

.ascii__intro {
  overflow: hidden;
  line-height: 2rem;
  margin: 0 auto;
  width: 100%;
}

.scroll {
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  color: var(--comment);
  opacity: 50%;
  margin-top: 40rem;
}


.line {
  display: flex;
  gap: 1rem;
}

.line__path {
  color: var(--yellow);
}

.output__help {
  display: grid;
  grid-template-columns: .2fr 1fr;
}

.output__cat {
  display: grid;
  grid-template-columns: .1fr .1fr .2fr;
}

.output {
  max-width: 60ch;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__name, .form__email, .form__message, .form__submit {
  background-color: var(--bg);
  color: var(--fg);
  border: none;
  font-size: 2rem;
  outline: none;
}

.form__submit {
  color: var(--blue);
  text-align: left;
  cursor: pointer;
}

.form__submit:hover {
  color: var(--comment);
  cursor: pointer;
}